
/* Font Formats 
font-family: 'Open Sans', sans-serif;
font-family: 'Montserrat', sans-serif;
*/
h1,h2,h3,h4,h5,h6{ font-family: 'Montserrat', sans-serif; text-transform:uppercase; font-weight:700; line-height:1.4em; color:#555555; }
h1{ font-size:35px; }
h2{ font-size:33px; }
h3{ font-size:30px; }
h4{ font-size:28px; }
h5{ font-size:25px; }
h6{ font-size:20px; }

*
{
	margin: 0px;
	padding: 0px;
}	

.body-container
{
	background-color: #f6f5f2;
	font-family: 'Open Sans', sans-serif;
	padding-top:120px;
	padding-bottom:30px;	
}

.header
{
	margin: 10px auto;
	width: 100%;
	height: 52px; 
}

.nav-container
{
	margin: 0 auto;
	width: 1000px;
	height: 52px;
	background-color: #343434;
}

.active
{
	background-color: #02C874; 
}

.clear
{
	clear: both;
}
.nav-ul
{
	list-style: none;
	margin: 0;
	padding: 0;
}

.brand 
{
	float: left;
	height: 52px;
	line-height: 52px;
}

.brand-a
{
	display: block;
	padding: 0 5px;
	width: 100px;
	text-decoration: none;
	font-size: 28px;
	font-weight: bold;
	font-family: Microsoft YaHei;
	color: white;
}

.brand-a:link, .brand-a:visited, .brand-a:hover, .brand-a:active
{
	text-decoration: none;
	color: white;
}

.nav-list
{
	float: right;
	text-align: center;
}

.nav-list:hover
{
background-color: #02C874;
}

.nav-a
{
	text-decoration: none;
	display: block;
	height: 52px;
	line-height: 52px;
	padding: 0 20px;	
	color: white;
	font-size: 14px;
	font-weight: bold;
	font-family: Microsoft YaHei;
}

a.nav-a:link, a.nav-a:visited, a.nav-a:hover,  a.nav-a:active 
{
	text-decoration: none;
	color: white;
}

.carousel-container
{
	margin: 0 auto;
	margin-top: 30px;
	position: relative;
	width: 1000px;
	height: 317px;
/*	background-color: #02C874;*/
	position: relative;
}

.carousel-inner img
{
	display: block;
	height: 317px;
}

.audio-control
{
	position: absolute;
	bottom: 20px;
	right: 0px;
	opacity: 0.6;
}

.audio-control:hover
{
	opacity: 1;
}

.pre 
{
	width: 40px;
	height:40px;
	line-height: 40px;
	text-align: center;
	background-color: #8E8E8E;
	position: absolute;
	top: 50%;
	left: 0px;
	margin-top: -20px; 
	transition: background-color 1s;
	-webkit-transition: background-color 1s;
}

.pre:hover, .next:hover
{
	background-color: #02C874;
}

.next 
{
	width: 40px;
	height:40px;
	line-height: 40px;
	text-align: center;
	background-color: #8E8E8E;
	position: absolute;
	top: 50%;
	right: 0px;
	margin-top: -20px; 
	transition: background-color 1s;
	-webkit-transition: background-color 1s;
}

.pre a, .next a
{
	display: block;
	width: 40px;
	height: 40px;
}

.main-container
{
	margin: 0 auto;
	margin-top: 50px;
	margin-bottom: 50px;
	width: 1000px;
	min-height: 700px;
}

.thumbnail:hover  
{
	background-color: #343434;
}

.caption h1, h2, h3, h4, h5, h6, p 
{
	font-family: 微软雅黑;
}

.footer-container
{
	width: 100%;
	padding-top: 50px;
}

.footer-content
{
	margin: 0 auto;
	display: block;
	width: 1000px;
	height: 73px;
	line-height: 73px;
	background-color:#343434;
	text-align: center;
	color: white;
}

/*css for artical */
.content-container
{
	margin: 0 auto;
	margin-top: 50px;
	width:1000px;
	min-height:1000px; 
	*height: 1000px;
	_height:1000px;
	background-color: white;
}

.content
{
	margin: 0 auto;
	width: 700px;
	background-color: white;

}

.content-header
{
	width: 700px;
	height: auto;
	padding: 20px 0px; 
	text-align: center;
}

.content-header h3
{
	display: inline-block;
	width: auto;
	padding: 10px 20px;
	font-family: 微软雅黑;
	border-bottom:  solid 1px #D3D3D3;  	
}


.content-body
{
	width: 700px;
	height: auto;	
}

.content-body img
{
	display: block;
	width: 700px;
	height: auto;
	margin-bottom: 30px;
}

.like
{
	width: 50px;
	height: 50px;
	line-height: 50px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	background-color: #D3D3D3;
	position: fixed;
	top:50%;
	margin-top: -52px;
	left:50%;
	margin-left: 501px;
	text-align: center;
}

.favourate
{
	width: 50px;
	height: 50px;
	line-height: 50px;
	background-color: #D3D3D3;
	position: fixed;
	top:50%;
	left:50%;
	margin-left: 501px;
	text-align: center;
}

.dislike
{
	width: 50px;
	height: 50px;
	line-height: 50px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	background-color: #D3D3D3;
	position: fixed;
	top:50%;
	margin-top: 52px;
	left:50%;
	margin-left: 501px;
	text-align: center;
}

.like:hover, .favourate:hover, .dislike:hover
{
	background-color: #DBDBDB;
}

/*css for about me*/
.introduce-container
{
	width: 100%;
	height:700px ! important ;
	min-height: 700px;
	text-align: center;
}

.picture
{
	width: auto;
	height: auto;
}

.picture img 
{
	display: block;
	margin: 0 auto;
	padding: 2px;
	background-color: #E6E6FA;
}

.introduce
{
	margin-top: 15px;
	text-align: center;
}

.contact
{
	margin: 0 auto;
	text-align: center;
	width: 300px;
/*	background-color: gray;*/
}

.contact span
{
	display: inline-block;
	width: 60px;
	height: 40px;
	line-height: 40px;
	font-family:微软雅黑;
	/*background-color: yellow;*/
}

.dropdown
{
	position: relative;
	display: inline-block;
}

.dropdown-content
{
	display: none;
	position: absolute;
	box-shadow: 0px 8px 16px 0px #8E8E8E;
}

.dropdown:hover .dropdown-content {
    display: block;
}